
<app-add-post></app-add-post>
<p-divider></p-divider>
<div *ngIf="!posts.length; else loadedPosts" class="no-posts">
  <p>There are no posts added!</p>
</div>
<ng-template #loadedPosts>
<div class="card flex justify-content-center" style="margin-top: 8px;">
  <p-accordion>
    <p-accordionTab *ngFor="let post of posts" header="{{post.title}}">
      <p *ngIf="!post.content; else loaded">
        Carregando...
      </p>
      <ng-template #loaded>
        <div class="actions">
          <app-edit-post [id]="post.id"></app-edit-post>
          <button pButton label="Delete" severity="danger"
                  size="small"
                  (click)="remove(post.id)"
                  [disabled]="deleteLoading"
                  [icon]="deleteLoading ? 'pi pi-spin pi-spinner' : ''"></button>
        </div>
        <p>
          {{ post.content }}
        </p>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
</ng-template>
